.idea/*
*.~$lock
composer.lock
.tmp*
_tmp*/

*.tar.gz
*.tar

script/autorun/*
!script/autorun/.gitEmptyDir

docker-dns
docker-run*.go
docker-start
docker-run
upload

*/entrypointBase.readonly

cassandra*/
elasticsearch*/
freeswitch*/
gitlab*/
go*/
kafka*/
mosquitto*/
*slave*/
postgresql*/
testing*/
tomcat*/





# Github dosen't allow push a file more than 100M
freeswitch/src/freeswitch-*.tar.gz
#php*/ext/*
php*/ext_dependencies/*

!php*/ext/.gitEmptyDir
!php*/ext_dependencies/.gitEmptyDir
